{% extends 'core/base.html' %}
{% load static %}

{%block header%}
  {% include 'core/header_otros.html' %}
{%endblock%}



{% block content %}
<section id="content">
  {% for e in elybras %}
    <div class="bg-3 bot-3">
      <div class="container_24">
        <div class="grid_24">
          <div class="banner-bg"><!--<a href="#"></a>--></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="bg-5">
      <div class="bg-3 bot-1">
        <div class="container_24">
          <div class="grid_24">
            <div class="line"></div>
            <div class="font-1 pad-2">{{ e.titulo }}</div>
          </div>
          <div class="grid_7 box-2">
            <h3> {{ e.subtitulo1 }}</h3>
            <div class="img-border"><img src="{% static 'core/images/elybra.jpg' %}" alt=""></div>
            <p class="border-1"><strong>{{ e.contenido1 }} </strong>  {{ e.subcontenido1 }}</p>
            <a href="#" class="link-1">read more</a> </div>
          <div class="grid_7 box-2 prefix_1">
            <h3 class="nowrap">{{ e.subtitulo2 }}</h3>
            <div class="img-border"><img src="{% static 'core/images/bioreso.jpg'%}" alt=""></div>
            <p class="border-1"><strong>{{ e.contenido2 }}</strong> 
              {{ e.subcontenido2 }}</p>
            <a href="#" class="link-1">read more</a> </div>
          <div class="grid_7 box-2 prefix_1">
            <h3>{{ e.subtitulo3 }}</h3>
            <div class="img-border"><img src="{% static 'core/images/idonea.jpg'%}" alt=""></div>
            <p class="border-1"><strong>{{ e.contenido3 }}</strong> {{ e.subcontenido3 }}</p>
            <a href="#" class="link-1">read more</a> </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="bg-4 bot-1">
      <div class="container_24">
        <div class="grid_24">
          <div class="line"></div>
        </div>
        <div class="grid_6 top-1">
          <div class="number-2"> <strong class="bg-clr-1">01.</strong>
            <div class="extra-wrap">
              <h2 class="clr-1">{{ e.pie1 }}</h2>
              <p class="border-bot"><i class="clr-1"><strong>{{ e.detpie1 }} </strong></i><br>
                Cada sesión dura aproximadamente 1 hora</p>
              <a href="#" class="link-1 fright">read more</a> </div>
          </div>
        
        </div>
        <div class="grid_6 top-1">
          <div class="number-2"> <strong class="bg-clr-2">02.</strong>
            <div class="extra-wrap">
              <h2 class="clr-2">{{ e.pie2 }}</h2>
              <p class="border-bot"><i class="clr-2"><strong>{{ e.detpie2 }}</strong></i><br>
                sesiones a distancia pueden tambien durar entre 4, 6 y hasta 8 horas </p>
              <a href="#" class="link-1 fright">read more</a> </div>
          </div>
       
        </div>
        <div class="grid_6 top-1">
          <div class="number-2"> <strong class="bg-clr-3">03.</strong>
            <div class="extra-wrap">
              <h2 class="clr-3">{{ e.pie3 }}</h2>
              <p class="border-bot"><i class="clr-3"><strong>{{ e.detpie3 }}</strong></i><br>
                Solo debes llamar a nuestros telefonos de contacto. </p>
              <a href="#" class="link-1 fright">read more</a> </div>
          </div>
        
        </div>
        <div class="grid_6 top-1">
          <div class="number-2"> <strong class="bg-clr-4">04.</strong>
            <div class="extra-wrap">
              <h2 class="clr-4">{{ e.pie4 }}</h2>
              <p class="border-bot"><i class="clr-4"><strong>{{ e.detpie4 }}</strong></i><br>
                Si cancelas mínimo 2 terapias puedes obtener excelentes beneficios. </p>
              <a href="#" class="link-1 fright">read more</a> </div>
          </div>
          
        </div>
        <div class="clear"></div>
      </div>
    </div>
    {%block telefonos%}
        {% include 'core/telefonos.html' %}
    {% endblock%}
  {% endfor %}
  </section>

{%endblock%}