  {% extends 'core/base.html' %}
  {% load static %}

  {%block header%}
    {% include 'core/header_home.html' %}
  {% endblock%}


  {% block content %}
  <section id="content">
    <div class="bg-2">
      <div class="bg-3 bot-2">
        <div class="container_24">
          <div class="grid_24">
            <!--<div class="banner-bg"><a href="#"></a></div>-->
          </div>
        
         
         
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="bg-4 bot-1">
      <div class="container_24">
        <div class="grid_24">
          <div class="line"></div>
          <div class="font-1 pad-1">La mejor y más eficiente farmacia está dentro de tu propio sistema. <span></span> <strong><span>Robert C. Peale</span></strong></div>
        </div>
        <div class="grid_7">
          <p class="border-bot"><strong>El sistema de E-Lybra es de tecnología inglesa, desarrollada para ayudar al equilibrio del individuo </strong><br>
            armonizando la mente, el cuerpo y el alma desde su campo energético. </p>
          <a href="#" class="link-1 fright">read more</a> </div>
        <div class="grid_8 prefix_1">
          <div class="border-left">
            <div class="number"> <strong class="bg-clr-1">01.</strong>
              <p class="extra-wrap"><i class="clr-1"><strong>La terapia de E-Lybra ,</strong></i><br>
                puede ser presencial o a distancia y es idónea para cualquier persona. </p>
            </div>
            <div class="number"> <strong class="bg-clr-2">02.</strong>
              <p class="extra-wrap"><i class="clr-2"><strong>La terapia de E-Lybra es de tecnología inglesa,</strong></i>  desarrollada para ayudar al equilibrio del individuo.</p>
            </div>
          </div>
        </div>
        <div class="grid_7 prefix_1">
          <div class="number"> <strong class="bg-clr-3">03.</strong>
            <p class="extra-wrap"><i class="clr-3"><strong>Es un procedimiento natural,</strong></i><br>
              no invasivo y no tiene efectos secundarios.</p>
          </div>
          <div class="number"> <strong class="bg-clr-4">04.</strong>
            <p class="extra-wrap"><i class="clr-4"><strong>El método es compatible, </strong></i><br>
              con cualquier tratamiento o terapia, logrando una mejoría integral.</p>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    {%block telefonos%}
        {% include 'core/telefonos.html' %}
    {% endblock%}

  </section>
  {% endblock %}



